In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession\
    .builder\
    .appName("twitter_silver")\
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

25/01/26 11:00:15 WARN Utils: Your hostname, ANDERSON resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/01/26 11:00:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/01/26 11:00:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_tweet = spark.read.json('/mnt/c/Users/ander/Desktop/airflow-spark/airflow-spark/curso2/datalake')

In [4]:
df_tweet.printSchema()

root
 |-- extract_date: date (nullable = true)

In [5]:
from pyspark.sql import functions as f

In [8]:
tweet_conversas = df_tweet.alias("tweet")\
        .groupBy(f.to_date("created_at").alias("created_date"))\
        .agg(
            f.countDistinct("author_id").alias("n_tweets"),
            f.sum("like_count").alias("n_like"),
            f.sum("quote_count").alias("n_quote"),
            f.sum("reply_count").alias("n_reply"),
            f.sum("retweet_count").alias("n_retweet")
        ).withColumn("weekday", f.date_format("created_date", "E"))

AnalysisException: Column 'created_at' does not exist. Did you mean one of the following? [tweet.extract_date];
'Aggregate [to_date('created_at, None, Some(America/Sao_Paulo))], [to_date('created_at, None, Some(America/Sao_Paulo)) AS created_date#22, 'count(distinct 'author_id) AS n_tweets#24, sum('like_count) AS n_like#26, sum('quote_count) AS n_quote#28, sum('reply_count) AS n_reply#30, sum('retweet_count) AS n_retweet#32]
+- SubqueryAlias tweet
   +- Relation [extract_date#8] json

In [6]:
tweet_conversas.show(5)

NameError: name 'tweet_conversas' is not defined